html {
  background: #fdfdfd;
  color: #333;
  font-family: "Droid Serif", serif;
  font-size: 18px;
  line-height: 185%;
}

body {
  width: 720px;
  padding: 0 24px;
  margin: auto;
}

h1 { font-size: 30px; }
h2 { font-size: 28px; }
h3 { font-size: 24px; }
h1.site-title { font-size: 48px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Mate", serif;
  font-weight: normal;
  line-height: 125%;
  color: #333;
  margin: 1em 0 0.33333333em 0;
}

h1 a, h2 a, h3 a {
  text-decoration: none;
}

h1 {
  margin: 2em 0 1em 0;
}

small {
  font-size: 70%;
}

p {
  margin: 0 0 1em 0;
}

a, a:hover, a:visited {
  color: black;
}

a:active {
  color: #555;
}

.header {
  padding: 2px 0;
  height: 64px;
  margin-top: 6px;
}

.header img.portrait {
  height: 64px;
  width: 64px;
  float: left;
  margin-right: 20px;
}

.header ul {
  list-style-type: none;
  float: left;
  margin: 0;
  padding: 0;
}

.header li {
  float: left;
  font-size: 18px;
  line-height: 64px;
  margin-right: 1em;
}

.header li:first-child {
  margin-right: 5em;
  font-size: 28px;
}

.header a, .header a:visited, .header a:active {
  color: black;
  text-decoration: none;
}

.header a:hover {
  text-decoration: underline;
}

.promo {
  color: black;
  clear: both;
  margin-top: 8px;
  padding: 2px;
  height: 64px;
  font-size: 20px;
  line-height: 64px;
  background-color: #e8ffe0;
  border-radius: 4px;
}

.promo img {
  float: left;
  height: 64px;
  width: 64px;
  margin-right: 1em;
}

.promo p {
  margin: 0;
  float: left;
}

.promo a {
}

.content {
  clear: both;
}

article img {
  width: 100%;
}

article header h1 {
  margin-bottom: 0;
}

article header h2 {
  font-size: 22px;
  margin-top: 0.25em;
  margin-bottom: 1em;
}

.posts .post {
  margin-top: 2em;
}

code, pre {
  font-family: "Inconsolata", monospace;
  font-size: 18px;
  line-height: 125%;
}

.prettyprint {
  margin: 2em 0;
  padding: 0;
  background: transparent;
  border: none;
}

.comments .comment {
  margin-top: 22px;
}

.comments .comment .author {
  font-weight: bold;
}

iframe.youtube {
  width: 440px;
  height: 330px;
}

footer {
  margin: 80px 0;
  font-size: 14px;
  line-height: 125%;
  height: 4em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  float: left;
  margin-right: 10px;
}

footer ul li:first-child {
  width: 100%;
}
