/*
body {
  padding-bottom: 40px;
}

body > .navbar {
  margin-bottom: 0;
}
*/

#content {
}

.posts .row {
  margin-bottom: 18px;
}

.hero-unit h1 {
  margin-bottom: 8px;
}

.hero-unit img {
}

.navbar .nav > li > iframe.twitter-share-button, .navbar .nav > li > .google-plusone {
  padding: 10px 10px 0;
  line-height: 19px;
}

ol li, ul li {
  line-height: 22px;
}

.comments .comment {
  margin-top: 22px;
}

.comments .comment .author {
  font-weight: bold;
}

ul.nav a.hire {
  color: #f55;
  font-weight: bold;
}

