body, h1, h2, h3, h4, h5, h6, h1 a {
  color: #38312b;
}

body {
  padding-top: 8px;
}

h1 a:hover {
  color: #574c43;
}

.navbar .brand {
  color: #f5f1ed;
}

.navbar .brand, h1, h2, h3 {
  font-family: Arimo,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}

.navbar .brand {
  font-weight: bold;
}

.navbar-inner {
  background-color: #6a5e50;
  background-image: -moz-linear-gradient(top, #38312b, #28211e);
  background-image: -ms-linear-gradient(top, #38312b, #28211e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#38312b), to(#28211e));
  background-image: -webkit-linear-gradient(top, #38312b, #28211e);
  background-image: -o-linear-gradient(top, #38312b, #28211e);
  background-image: linear-gradient(top, #38312b, #28211e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#38312b', endColorstr='#28211e', GradientType=0);
}

.btn-primary {
  background-color: #6a5e50;
  background-image: -moz-linear-gradient(top, #6a5e50, #38312b);
  background-image: -ms-linear-gradient(top, #6a5e50, #38312b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6a5e50), to(#38312b));
  background-image: -webkit-linear-gradient(top, #6a5e50, #38312b);
  background-image: -o-linear-gradient(top, #6a5e50, #38312b);
  background-image: linear-gradient(top, #6a5e50, #38312b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6a5e50', endColorstr='#38312b', GradientType=0);
  border-color: #38312b #38312b #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #38312b;
}
.btn-primary:active, .btn-primary.active {
  background-color: #2e2823;
}

.posts .row {
  margin-bottom: 18px;
}

.hero-unit {
  background-color: #f5f1ed;
}

.hero-unit h1 {
  text-transform: none;
  margin-bottom: 8px;
}

.navbar .nav > li > iframe.twitter-share-button, .navbar .nav > li > .google-plusone {
  padding: 10px 10px 0;
  line-height: 19px;
}

ol li, ul li {
  line-height: 22px;
}

.comments .comment {
  margin-top: 22px;
}

.comments .comment .author {
  font-weight: bold;
}

iframe.youtube {
  width: 440px;
  height: 330px;
}

@media (max-width: 768px) {
  .hero-unit {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  iframe.youtube {
    width: 100%;
    height: 200px;
  }
}

@media (min-width: 768px) and (max-width: 980px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 980px) {
}
