body {
  padding-top: 40px;
  font-size: 16px;
  line-height: 22px;
  background-color: #f8f8f8;
}

.container {
  width: 800px;
}

.content {
  background-color: #fdfdfd;
  padding: 20px;
}

p {
  font-size: 16px;
  line-height: 22px;
}

ol li, ul li {
  line-height: 22px;
}

.topbar {
  font-size: 13px;
  line-height: 18px;
}

.comments .comment {
  margin-top: 22px;
}

.comments .comment .author {
  font-weight: bold;
}

.comments .comment .content {
}
