<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}}</title>
    <link href="/stylesheets/prettify.css" type="text/css" rel="stylesheet" />
    <link href="/stylesheets/bootstrap.css" type="text/css" rel="stylesheet" />
    <link href="/stylesheets/ngauthier.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="/javascripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/prettify.js"></script>
    <script type="text/javascript">
      $(prettyPrint);
    </script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-15043457-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <nav class='topbar'>
      <div class='topbar-inner'>
        <div class='container'>
          <h3><a href='/'>Nick Gauthier</a></h3>
          <ul class='nav'>
            <li><a href='/'>Home</a></li>
            <li><a href='http://github.com/ngauthier'>GitHub</a></li>
            <li><a href='http://twitter.com/ngauthier'>Twitter</a></li>
            <li><a href='http://facebook.com/ngauthier'>Facebook</a></li>
            <li><a href='http://shortmail.com/ngauthier'>Shortmail</a></li>
            <li><a href='http://blog.smartlogicsolutions.com/author/ngauthier/'>Nick @ SLS Blog</a></li>
            <li><a href='http://recipeswithbackbone.com'>Recipes with Backbone</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class='container'>
      <div class='content'>
        {{ content }}
      </div>
    </div>
  </body>
</html>
