<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="author" content="Nick Gauthier">
    <meta name="viewport" content="width=device-width">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@ngauthier">
    <meta name="twitter:url" content="http://ngauthier.com{{page.url}}">
    <meta name="twitter:title" content="{{ page.title | strip_html | truncate: 70 }}">
    <meta name="twitter:description" content="{{ page.content | strip_html | truncate: 200 }}">
    {% if page.image %}
      <meta name="twitter:image" content="http://ngauthier.com{{ page.image }}">
    {% endif %}
    <title>{{page.title}}</title>
    <link rel="alternate" type="application/atom+xml" title="Nick Gauthier - Atom" href="/feeds/posts/default" />

    <link href="/stylesheets/prettify.css" type="text/css" rel="stylesheet" />
    <link href="/stylesheets/bootstrap.css" type="text/css" rel="stylesheet" />
    <link href="/stylesheets/bootstrap-responsive.css" type="text/css" rel="stylesheet" />
    <link href="/stylesheets/ngauthier.css" type="text/css" rel="stylesheet" />
    
    <script type="text/javascript" src="/javascripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/prettify.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(prettyPrint);
    </script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-15043457-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div class='header'>
      <div class='container'>
        <a href="/">ngauthier</a>
        &middot;
        <a href="/hire.html">Hire me</a>
        &middot;
        <a href="/backbone-js-training-class.html">Backbone.js Training</a>
      </div>
    </div>
    <div class='promo'>
      <div class='container'>
        <a href="http://mobilebbbook.com">
          <img src="/images/3d-book-cover-500x500.png" alt="Book Cover" class='pull-left'>
        </a>
        <h3>
          New e-book released
        </h3>
        <p>
          <a href="http://mobilebbbook.com">Mobile Web Patterns with Backbone.js</a>
        </p>
      </div>
    </div>
    {{ content }}
    <footer class='container'>
      <p>
        &copy; Nick Gauthier 2012
        &middot;
        <a href='http://github.com/ngauthier'>GitHub</a>
        &middot;
        <a href='http://twitter.com/ngauthier'>Twitter</a>
        &middot;
        <a href='http://recipeswithbackbone.com'>Recipes with Backbone</a>
        &middot;
        <a href="http://madewithloveinbaltimore.org">Made with &hearts; in Baltimore</a>
      </p>
    </footer>
  </body>
</html>
